<a href="https://colab.research.google.com/github/dayalprabhu/e-commerce/blob/main/Task_1_tensor_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
class Logistic_Regression():


  # declaring learning rate & number of iterations (Hyperparametes)
  def __init__(self, learning_rate, no_of_iterations):

    self.learning_rate = learning_rate
    self.no_of_iterations = no_of_iterations
  # fit function to train the model with dataset
  def fit(self, X, Y):
    # number of data points in the dataset (number of rows)  -->  m
    # number of input features in the dataset (number of columns)  --> n
    self.m, self.n = X.shape
    #initiating weight & bias value

    self.w = np.zeros(self.n)
    
    self.b = 0

    self.X = X

    self.Y = Y
    # implementing Gradient Descent for Optimization

    for i in range(self.no_of_iterations):     
      self.update_weights()

  def update_weights(self):

    # Y_hat formula (sigmoid function)

    Y_hat = 1 / (1 + np.exp( - (self.X.dot(self.w) + self.b ) ))    


    # derivaties

    dw = (1/self.m)*np.dot(self.X.T, (Y_hat - self.Y))

    db = (1/self.m)*np.sum(Y_hat - self.Y)


    # updating the weights & bias using gradient descent

    self.w = self.w - self.learning_rate * dw

    self.b = self.b - self.learning_rate * db


  # Sigmoid Equation & Decision Boundary

  def predict(self, X):

    Y_pred = 1 / (1 + np.exp( - (X.dot(self.w) + self.b ) ))     
    Y_pred = np.where( Y_pred > 0.5, 1, 0)
    return Y_pred

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
crack_data=pd.read_csv('/content/crack_detection.csv')

In [ ]:
crack_data.head()

,Unnamed: 0,mean_r,std_r,kur_r,skew_r,mean_g,std_g,kur_g,skew_g,mean_b,...,contrast_r,contrast_g,contrast_b,corr_rg,corr_rb,corr_gb,moment_r,moment_g,moment_b,label
0,0,107.5734,29.267480,0.744029,0.408828,110.2533,26.953218,1.254689,-0.135613,113.5715,...,9.181953,177.0,173.0,162.0,0.951368,0.913876,0.803333,856.585412,726.475939,0
1,1,178.6713,14.917756,3.192406,0.238175,184.4947,14.882156,3.035196,0.141160,190.8538,...,9.207314,142.0,136.0,129.0,0.988325,0.989474,0.976787,222.539456,221.478572,0
2,2,176.6517,34.618255,-0.146336,-0.421552,161.3083,33.688699,0.057178,-0.521476,147.2760,...,9.186737,199.0,200.0,194.0,0.968581,0.967398,0.890845,1198.423587,1134.928451,1
3,3,113.5760,20.084502,0.719752,0.737728,114.0056,19.536222,0.655846,0.729521,113.6179,...,9.197973,146.0,142.0,138.0,0.987383,0.983663,0.961305,403.387224,381.663969,0
4,4,125.3565,29.251595,0.430344,0.833496,129.5277,28.661968,0.475502,0.804161,131.9745,...,9.189257,173.0,176.0,177.0,0.980727,0.986702,0.950291,855.655808,821.508433,1

In [ ]:
crack_data.tail()

,Unnamed: 0,mean_r,std_r,kur_r,skew_r,mean_g,std_g,kur_g,skew_g,mean_b,...,contrast_r,contrast_g,contrast_b,corr_rg,corr_rb,corr_gb,moment_r,moment_g,moment_b,label
695,695,147.4849,39.849040,-0.413560,-0.713162,143.8830,36.109081,-0.333042,-0.721668,138.3563,...,9.180812,196.0,180.0,168.0,0.991360,0.988178,0.968726,1587.945972,1303.865711,1
696,696,131.6387,22.462007,0.060316,-0.598803,129.3470,20.965238,0.249974,-0.611380,125.9734,...,9.199403,169.0,163.0,157.0,0.992205,0.977108,0.954988,504.541762,439.541191,1
697,697,124.9098,24.410827,-0.014904,0.298252,130.4604,23.675959,-0.086843,0.180634,135.0006,...,9.195094,152.0,145.0,143.0,0.981116,0.986397,0.953482,595.888464,560.551032,0
698,698,100.5366,41.107908,-0.385692,0.309762,98.8532,40.835684,-0.356037,0.269909,98.9559,...,9.125664,233.0,231.0,227.0,0.996501,0.997454,0.994056,1689.860060,1667.553050,1
699,699,138.0759,6.627016,2.339072,0.414758,137.9345,6.328697,2.939153,0.477630,137.8309,...,9.209413,93.0,91.0,92.0,0.962479,0.948542,0.926412,43.917339,40.052410,0

In [ ]:
crack_data.shape

(700, 25)

In [ ]:
crack_data.describe()

,Unnamed: 0,mean_r,std_r,kur_r,skew_r,mean_g,std_g,kur_g,skew_g,mean_b,...,contrast_r,contrast_g,contrast_b,corr_rg,corr_rb,corr_gb,moment_r,moment_g,moment_b,label
count,700.00000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,...,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,349.50000,129.904131,29.725915,0.783304,0.210021,129.513118,28.191406,0.905234,0.210064,128.842019,...,9.185198,178.245714,173.781429,170.375714,0.984945,0.982444,0.958198,978.008986,880.738813,0.498571
std,202.21688,22.533741,9.721830,2.921148,0.832188,20.781828,9.279358,3.000051,0.848674,19.436542,...,0.018515,33.888983,34.655417,35.610478,0.024409,0.027450,0.069144,565.834008,520.580605,0.500355
min,0.00000,72.085700,5.257114,-1.616288,-3.788320,78.022200,4.543611,-1.567842,-3.761659,82.738400,...,9.085941,55.000000,48.000000,52.000000,0.731441,0.740211,0.279195,27.637244,20.644398,0.000000
25%,174.75000,117.223100,21.865794,-0.520055,-0.251850,118.032050,20.951718,-0.460405,-0.247178,118.039500,...,9.177954,152.750000,150.000000,146.000000,0.984907,0.982613,0.957100,478.115830,438.975044,0.000000
50%,349.50000,127.525400,31.030772,-0.071472,0.211199,127.457500,29.333898,-0.011488,0.202783,126.579200,...,9.188351,184.500000,179.000000,175.000000,0.991413,0.989603,0.974893,962.908945,860.477925,0.000000
75%,524.25000,140.418825,37.210949,1.042058,0.593044,138.861175,34.737146,1.177957,0.613642,136.463700,...,9.199160,202.000000,197.000000,193.250000,0.994256,0.993197,0.983471,1384.654910,1206.669310,1.000000
max,699.00000,207.160800,52.226058,44.499978,5.645803,198.134400,51.168733,44.984072,5.623845,196.270800,...,9.209413,255.000000,254.000000,255.000000,0.998194,0.998387,0.997126,2727.561173,2618.239239,1.000000

In [ ]:
crack_data['label'].value_counts()

0    351
1    349
Name: label, dtype: int64

In [ ]:
crack_data.groupby('label').mean()

,Unnamed: 0,mean_r,std_r,kur_r,skew_r,mean_g,std_g,kur_g,skew_g,mean_b,...,entropy_g,contrast_r,contrast_g,contrast_b,corr_rg,corr_rb,corr_gb,moment_r,moment_g,moment_b
label,,,,,,,,,,,,,,,,,,,,,
0,348.225071,124.932907,24.193913,1.818251,0.477988,125.785747,23.053617,1.967926,0.492964,126.504436,...,9.190905,9.193143,162.980057,158.746439,155.350427,0.977829,0.976260,0.944660,659.132028,598.596439
1,350.782235,134.903844,35.289619,-0.257574,-0.059481,133.261849,33.358637,-0.163549,-0.074458,131.192998,...,9.173708,9.177207,193.598854,188.902579,185.487106,0.992103,0.988663,0.971814,1298.713319,1164.498049

In [ ]:
features=crack_data.drop(columns='label', axis=1)
outcome=crack_data['label']

In [ ]:
print(features)

     Unnamed: 0    mean_r      std_r     kur_r    skew_r    mean_g      std_g  \
0             0  107.5734  29.267480  0.744029  0.408828  110.2533  26.953218
1             1  178.6713  14.917756  3.192406  0.238175  184.4947  14.882156
2             2  176.6517  34.618255 -0.146336 -0.421552  161.3083  33.688699
3             3  113.5760  20.084502  0.719752  0.737728  114.0056  19.536222
4             4  125.3565  29.251595  0.430344  0.833496  129.5277  28.661968
..          ...       ...        ...       ...       ...       ...        ...
695         695  147.4849  39.849040 -0.413560 -0.713162  143.8830  36.109081
696         696  131.6387  22.462007  0.060316 -0.598803  129.3470  20.965238
697         697  124.9098  24.410827 -0.014904  0.298252  130.4604  23.675959
698         698  100.5366  41.107908 -0.385692  0.309762   98.8532  40.835684
699         699  138.0759   6.627016  2.339072  0.414758  137.9345   6.328697

        kur_g    skew_g    mean_b  ...  entropy_g  contrast_r  contrast_g  \
0    1.254689 -0.135613  113.5715  ...   9.178470    9.181953       177.0
1    3.035196  0.141160  190.8538  ...   9.207078    9.207314       142.0
2    0.057178 -0.521476  147.2760  ...   9.187098    9.186737       199.0
3    0.655846  0.729521  113.6179  ...   9.196041    9.197973       146.0
4    0.475502  0.804161  131.9745  ...   9.186717    9.189257       173.0
..        ...       ...       ...  ...        ...         ...         ...
695 -0.333042 -0.721668  138.3563  ...   9.175674    9.180812       196.0
696  0.249974 -0.611380  125.9734  ...   9.196540    9.199403       169.0
697 -0.086843  0.180634  135.0006  ...   9.193788    9.195094       152.0
698 -0.356037  0.269909   98.9559  ...   9.121155    9.125664       233.0
699  2.939153  0.477630  137.8309  ...   9.209293    9.209413        93.0

     contrast_b  corr_rg   corr_rb   corr_gb  moment_r     moment_g  \
0         173.0    162.0  0.951368  0.913876  0.803333   856.585412
1         136.0    129.0  0.988325  0.989474  0.976787   222.539456
2         200.0    194.0  0.968581  0.967398  0.890845  1198.423587
3         142.0    138.0  0.987383  0.983663  0.961305   403.387224
4         176.0    177.0  0.980727  0.986702  0.950291   855.655808
..          ...      ...       ...       ...       ...          ...
695       180.0    168.0  0.991360  0.988178  0.968726  1587.945972
696       163.0    157.0  0.992205  0.977108  0.954988   504.541762
697       145.0    143.0  0.981116  0.986397  0.953482   595.888464
698       231.0    227.0  0.996501  0.997454  0.994056  1689.860060
699        91.0     92.0  0.962479  0.948542  0.926412    43.917339

        moment_b
0     726.475939
1     221.478572
2    1134.928451
3     381.663969
4     821.508433
..           ...
695  1303.865711
696   439.541191
697   560.551032
698  1667.553050
699    40.052410

[700 rows x 24 columns]

In [ ]:
print(outcome)

0      0
1      0
2      1
3      0
4      1
      ..
695    1
696    1
697    0
698    1
699    0
Name: label, Length: 700, dtype: int64

In [ ]:

scaler=StandardScaler()
scaler.fit(features)
standardized_data=scaler.transform(features)
features=standardized_data
print(features)

[[-1.72957821 -0.99169947 -0.0471889  ... -2.24133939 -0.21474566
  -0.2965404 ]
 [-1.72462949  2.16573183 -1.52427552 ...  0.26902558 -1.33609808
  -1.2672997 ]
 [-1.71968077  2.07604215  0.50359226 ... -0.97478509  0.38981787
   0.48863018]
 ...
 [ 1.71968077 -0.2217964  -0.54710779 ... -0.06826355 -0.67580554
  -0.61549879]
 [ 1.72462949 -1.30420115  1.17160362 ...  0.51895982  1.25895594
   1.51249747]
 [ 1.72957821  0.36290521 -2.37768162 ... -0.4600382  -1.65200316
  -1.61605624]]

In [ ]:
X_train,X_test,Y_train,Y_test= train_test_split(features,outcome,test_size=0.20,random_state=2)
print(features.shape,X_train.shape,X_test.shape)

(700, 24) (560, 24) (140, 24)

In [ ]:
X_train,X_validation,Y_train,Y_validation=train_test_split(features,outcome,test_size=0.20,random_state=2)
print(features.shape,X_train.shape,X_validation.shape)

(700, 24) (560, 24) (140, 24)

In [ ]:
classifier = Logistic_Regression(learning_rate=0.01, no_of_iterations=1000)

In [ ]:
classifier.fit(X_train,Y_train)

In [ ]:
# evaluation

In [ ]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score( Y_train, X_train_prediction)

(560, 24)

In [ ]:
print('accuracy:',training_data_accuracy)

accuracy: 0.7857142857142857

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
f1_score=f1_score(Y_train,X_train_prediction)
print('training data f1 score:',f1_score)

training data f1 score: 0.7931034482758621